.container {
    padding: 10px 15px;
}

.main-content .my-job .tittle {
    padding: 10px;
    background: #ebebeb;
    font-size: 17px;
}

.main-content .my-job .content {
    padding: 15px 15px 0px 10px;
    font-size: 17px;
    // margin-right: 40px;
}

.main-content .my-job .content {
    font-size: 17px;
}

.main-content .my-job .content p {
    font-size: 12px;
    color: grey;
}

.main-content .my-job .content .project-type {
    padding: 7px 10px;
    font-size: 12px;
    background-color: rgb(249, 231, 159);
    color: rgb(175, 141, 5);
    border-radius: 5px;
}

.border {
    border: 1px solid rgb(209, 205, 205);
}

// ---------- ANNOUCEMENT ----------
.main-content .announcement .tittle {
    padding: 10px;
    background: #ebebeb;
    font-size: 17px;
}

.main-content .announcement .content {
    padding: 30px 15px;
    font-size: 17px;
}

.announcement .content p {
    font-size: 15px;
    color: grey;
}

.side-content .time-off .tittle {
    padding: 10px;
    background: #ebebeb;
    font-size: 17px;
}

.side-content .time-off .content {
    padding: 30px 15px;
    font-size: 17px;
}