<div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
  <!------------ MAIN CONTENT ------------>
  <!-- MYJOB -->
  <div class="main-content" fxFlex="70%" fxLayout="column" fxLayoutGap="10px" fxFlex.lt-md="100%">
    <div class="my-job border">
      <div class="tittle">My Jobs</div>
      <div class="content" fxLayoutAlign="space-between start">
        <div>Intern-2023</div>
        <div>Centizen
          <p>Client Name</p>
        </div>
        <div class="project-type">Internal Project</div>
      </div>
    </div>
    <div class="announcement"></div>
    <div class="new-hires"></div>
    <!-- NEW ANNOUNCEMEN -->
    <div class="main-content" fxFlex="70%" fxFlex.lt-md="100%">
      <div class="announcement border">
        <div class="tittle">New Announcement</div>
        <div class="content" fxLayoutAlign="space-between start">
          <p>No new Announcement posted yet</p>
        </div>
      </div>
      <div class="announcement"></div>
      <div class="new-hires"></div>
    </div>
    <!-- NEW HIRE -->
    <div class="main-content" fxFlex="70%" fxFlex.lt-md="100%">
      <div class="announcement border">
        <div class="tittle">New Hire</div>
        <div class="content" fxLayoutAlign="space-between start">
          <p>No one will be joining the company for the next liitle while</p>
        </div>
      </div>
    </div>
  </div>
  <!------------ SIDE CONTENT ------------>
  <div class="side-content" fxFlex="30%">
    <!------ TIME OFF ------->
    <div fxFlex="100%">
      <div class="time-off border">
        <div class="tittle">Time Off</div>
        <div class="content" fxLayoutAlign="space-between start">

        </div>
      </div>
    </div>
  </div>
</div>