
.body {
  padding:2%;
}
.body h1{
  font-size: 27px;
}
.tabs{
  border: 1px solid lightgray;
}

.mat-tab-group {
  margin-bottom: 48px;
}

::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
  color: #070707;
}
