.title-container{
  padding:2%;
}
.title-header{
  font-size: 27px;
}
.sub-container{
  border: 1px solid rgb(218, 218, 218);
}
.plus{
  font-size: 20px;
  color: #6c7b8a;
  border: 1px solid #959799;
  border-radius: 4px;
}
