* {
  margin: 0;
  padding: 0;
}
// .body{
//   background-color: rgb(241, 234, 234);
// }
.active {
  background-color: #2bae43;
  color: white;
  padding-inline: 8px;
  padding-block: 2px;
}

.title {
  margin-inline: 20px;
}

.title h1 {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.info-btn-div {
  border: 1px solid rgb(221, 215, 215);
  padding: 20px 20px;
  margin: 20px;
  background-color: white;
}
.info-btn{
  color:rgb(5, 143, 64) !important;
  margin: 4px;
  padding: 0px 15px;
}

.info-btn a {
  font-size: 14px !important;
}

a:hover {
  background-color: #ffffff !important;
}
