<div mat-dialog-title class="change-password">Confirm Psssword</div>
<div class="dialog-container">
  <p mat-dialog-content>Enter Password</p>
  <form [formGroup]="passkey">
  <mat-form-field fxLayout="column" appearance="outline" class="example-full-width">
    <input matInput placeholder="Password" type="password" formControlName="Input">
  </mat-form-field>
  </form>
  <div class="btn" mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close (click)="onNoClick()" class="no-btn">No</button>
    <button mat-raised-button [mat-dialog-close]="true" class="ok-btn">Ok</button>
  </div>

</div>
