.change-password {
background-color: #4B0150;
color: white;
}

.dialog-container {
  padding: 20px 24px 20px 24px;
}

.dialog-container p {
  margin: 0;
  padding: 0;
}

mat-form-field {
  padding-top: 10px;
}


// remove btn padding
.btn {
  padding: 0;
}
.ok-btn{
  background-color: rgb(182, 23, 169) !important;
  color: black !important;
  font-weight: 600;
  font-size: 15px;
}
.dialog-container input{
  font-size: 15px !important;
}
.no-btn{
  background-color: rgb(238, 238, 238) !important;
}
